body {
  background-color: blanchedalmond;
}
main {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}
section {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 2rem;
}
section img {
  width: 100%;
}
section button {
  width: 10rem;
  height: 2rem;
  padding: .5rem;
  background-color: tomato;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: .4rem;
  cursor: pointer;
  transition: .3s;
}
section button:hover {
  width: 22rem;
  height: 3rem;
  font-size: 1.2rem;
}